# Dependencias
node_modules/
.pnpm-store/
package-lock.json

# Build
dist/
.astro/

# Cache
.cache/
.parcel-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.production.local
.env.development.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local Netlify
.netlify/

# TypeScript
*.tsbuildinfo

# Astro
.astro/